body {
    font-family: 'Press Start 2P';
    background-color: #212121;
    overflow: hidden;
}

/*Particles Styling*/
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #212121;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
}

/*Particles Styling*/
#container {
    position: absolute;
    color: #f4f4f4;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.start {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
}

.start h3 {
    position: relative;
    top: 10%;
    font-size: 36px;
    animation: changeColor 2s ease infinite;
}

@keyframes toggleColor {
    from{
        color: #f4f4f4
    } to {
        color:#d32f2f;
    }
}

@keyframes changeColor {
    0% {
        color: #f4f4f4; 
    }
    20% {
        color: #2196f3;
    }
    30% {
        color: #303f9f;
    }
    50% {
        color: #6abf69;
    }
    70% {
        color: #fff176
    }
    90% {
        color: #ffb300;
    }
    100% {
        color: #ffecb3
    }
}

.start h6 {
    position: relative;
    top: 35%;
    font-size: 2em;
}

.start a {
    position: relative;
    top: 500px;
    text-decoration: none;
    color: #b0bec5;
    font-size: 1.2em;
    transition: all 0.3s;
}

.start a:hover {
animation: toggleColor 0.3s ease infinite;
    font-size: 1.8em;
}

audio > controls {
    display: none;
}
/*game page*/

header {
    display: inline-block;
    width: 100%;
}

.user {
    position: relative;
    display: block;
    float: left;
    margin: 20px;
}

.scoreboard {
    float: right;
    position: relative;
    margin: 20px;
}


#defaultCanvas0 {
    margin: auto;
   position: absolute;
   z-index: 1;
    top: 10%;
    left: 30%;
    background: transparent;
}